.title {
    text-align: center;
}
.span-red {
    color: var(--other-red);
}

.banner {
    /* width: 100vw;
    height: 70vh; */
    /* overflow: hidden; */
    background-image: url('./assets/family-respo.jpg');
    background-size: cover;
}
.banner-container {
    width: 90%;
    margin: 20px auto;
    /* padding: 10%; */
    border: 1px solid #000;
}
.text-banner {
    margin: 50px auto;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
}
.card {
    margin: 50px auto;
    border: 1px solid red;
}
.card-header {
    display: none;
}
.label-card {
    display: none;
}
.input-card {
    display: none;
}
.card-button {
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 5%;
    background-color: var(--other-red);
    font-size: 1.3em;
    font-weight: 700;
    color: var(--white);
    border: none;
    border-radius: 5px;
}



@media screen and (min-width: 768px) {
    .banner {
        /* width: 100vw;
        height: 70vh; */
        /* overflow: hidden; */
        padding: 4%;
        background-image: url('./assets/family.jpg');
        background-size: cover;
    }
    .banner-container{
        display: flex;
        width: 95%;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }
    .text-banner {
        margin-right: 5px;
        font-size: 1.5em;
    }
    .card {
        background-color: var(--transparent-gray);
        width: 60%;
        min-width: 350px;
    }
    .card-header {
        display: block;
        padding: 2px;
        font-size: 1.3em;
        text-align: center;
        border-bottom: 1px solid var(--gray);
    }
    .card-body {
        width: 90%;
        margin: 50px auto;
    }
    .label-card {
        display: block;
        font-size: 1.5em;
    }
    .input-card {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        outline: 0px;
        background-color: transparent;
        font-size: 1.5em;
        border: none;
        border-bottom: 1px solid var(--white);
    }
    .card-button {
        width: 100%;
        padding: 12px;
        margin: 5px auto;
        font-weight: normal;
    }
    .body-footer {
        display: flex;
        width: 100%;
        font-family: row nowrap;
        justify-content: space-between;
    }
    .body-footer button {
        width: 48%;
        /* margin-right: 10px; */
    }
}

@media screen and (min-width: 992px) {
    .text-banner {
        width: 40%;
        margin-right: 20px;
        font-size: 2em;
    }
    .card {
        background-color: var(--transparent-gray);
        width: 40%;
        max-width: 450px;
    }
    .card-header {
        display: block;
        padding: 2%;
        font-size: 1.3em;
        text-align: center;
        border-bottom: 1px solid var(--gray);
    }
    .card-button {
        width: 100%;
    }
    .body-footer {
        display: flex;
        width: 100%;
        font-family: row nowrap;
        justify-content: space-between;
    }
    
}

@media screen and (min-width: 1200px) {
    .banner-container{
        display: flex;
        width: 90%;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }
    .text-banner {
        margin-right: 5px;
        width: 50%;
        font-size: 2.3em;
    }
    .card-body {
        width: 80%;
        margin: 50px auto;
    }
    
}