.second-descript {
	width: 90%;
	margin: auto;
}
.service-description {
	margin: 10px auto;
	text-align: center;
	font-size: 1.4em;
}
.account-service {
	display: block;
}
.mtn-orange {
	width: 95%;
	margin: auto;
}
.img-center {
	display: block;
	width: 100%;
}


@media screen and (min-width: 768px) {
	.account-service {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 70%;
		margin: auto;
		margin: 20px auto;
	}
	.second-descript {
		width: 80%;
		margin: auto;
	}
	.service-description {
		display: block;
		margin: 10px 20px;
		text-align: center;
		font-size: 2.2em;
		font-weight: 400;
	}
	.mtn-orange-short {
	}
	.img-center {
		display: block;
		width: 100%;
	}
	.text-title {
	  	background-color: #fff;
	}
}