header {
    /* border: 1px solid #000; */
}
.menu {

}
.image-enseigne {
    display: block;
    width: 90%;
    margin: auto;
}

.navigation {
    margin-top: 10px;
    padding: 0px;
}
.nav-item {
    padding: 12px;
    border-bottom: 1.5px solid var(--red);
    color: var(--red);
}

 /* start dropdown style  */
 .dropdown {
    position: relative;
    /* display: inline-block; */
}
.dropdown-content {
    display: block;
    width: 95%;
    margin-left: 5%;
    background-color: transparent;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li:hover {
    background-color: var(--transparent-gray);
}
.service-item {
    padding: 12px;
    border-bottom: 1.5px solid var(--red);
    color: var(--red);
}
.dropbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 1%;
        background-color: var(--gray);
        /* border: 1px solid #000; */
    }
    .menu {
        display: none;
    }
    .wrapper {
        /* border: 1px solid #000; */
        width: 20%;
    }
    .navbar {
        width: 80%;
        /* border: 2px solid #000; */
    }
    .navigation {
        width: 100%;
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: center;
        margin-top: 0px;
        /* border: 2px solid #000; */
    }
    .nav-item {
        margin-right: 2%;
        padding: 10px 20px;
        font-size: 1.2em;
        color: black;
        border: 2px solid var(--red); 
        border-radius: 20px;
    }
    .nav-item:hover {
        cursor: pointer;
        background-color: var(--red);
    }

    /* start dropdown style  */
    .dropdown {
        position: relative;
        /* display: inline-block; */
    }
    .dropdown-content {
        display: none;
        width: 103%;
        margin: 0%;
        position: absolute;
        left: -1.5%;
        top: 100%;
        background-color: var(--red);
        /* min-width: 200px; */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown:hover {
        border-radius: 0px;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown-content li:hover {
        background-color: var(--transparent-gray);
    }
    .service-item {
        padding: 15px 0px;
        text-align: center;
        color: var(--black);
    }
    .line {
        display: block;
        border-bottom: 1px solid var(--gray);
    }
}

@media screen and (min-width: 1200px) {
    header {
        padding: 0px;
    }
}