.signup {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80vw;
    max-width: 450px;
    height: 60vh;
    margin: auto;
    padding: 5% 0px;
    overflow-y: scroll;
    background-color: var(--transparent-gray);
    border-radius: 5px;
}
.signup-form {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 80%;
}
.signup-form button {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 3%;
    outline: none;
    background-color: var(--other-red);
    font-size: 1.2em;
    font-weight: 700;
    color: var(--white);
    border-radius: 5px;
    border: none;
}
.signup a {
    color: var(--blue);
}



@media screen and (min-width: 992px) {
    .signup {
        width: 30vw;
        max-width: none;
        height: 80vh;
    }
}