.send-money {
    padding: 3%;
}
.receiver-info {
    width: 90%;
    margin: 20px auto;
    padding: 2% 3%;
    background-color: var(--near-black);
    color: var(--white);
}
.amount {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
}
.change {
    text-align: center;
}
.inputBox {
}
h3 {
    text-align: center;
    margin-bottom: 10px;
}
.checkbox {
    text-align: center;
    margin: 20px 0px;
}
.checkbox input {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.buttonbox button {
    display: block;
    width: 100%;
    padding: 2%;
    background-color: var(--other-red);
    font-size: 1.2em;
    font-weight: bold;
    color: var(--white);
    border: none;
    border-radius: 5px;
}

.resume {
    width: 90%;
    margin: 20px auto;
    padding: 2% 3%;
    background-color: var(--white);
    color: var(--berge);
}
.resume h4{
    font-size: 1.5em;
    margin: 0px;
}
.resume-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2% 0px;
    font-size: 1.2em;
}
hr {
    border: 1px solid var(--berge);
}
.alert {
    padding: 2%;
    background-color: var(--second-pink);
    font-size: 1.1em;
    color: var(--red);
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}
.alert h6 {
    padding: 0px;
    margin: 0px;
    font-size: 1.2em;
    font-weight: 500;
}
.alert hr {
    border: 1px solid #f1b0b7;
}

@media screen and (min-width: 768px) {
    .send-money {
        padding: 3%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
    }
    .receiver-info {
        width: 40%;
        padding: 2% 3%;
    }
    hr {
        display: block !important;
    }
    .resume {
        width: 40%;
        margin-top: 15px;
        padding: 2% 3%;
    }
    .resume-block {
        padding: 3% 0px;
    }
}

#ramp {
    width: 1000px;
    height: 1000px;
    border: 1px solid #000;
}